.container{
	border-radius: 15px;
	
	header{
		.make-row();
		padding-bottom: 50px;
		border-bottom: 1px solid @darkBlue;

	}

	.innledende{
		.make-row();
		.make-md-column(4);
	}
	.skjema{
		.make-row();
		.make-md-column(4);
		margin-top: 20px;
	}
	.avsluttendeSeksjon{
		.make-row();
		.make-md-column(4);
	}

	.innledende,
	.avsluttendeSeksjon{
		.arrowWrapper{
			text-align: center;
		}
		.adjustHeight{
			visibility: hidden;
			line-height: 0;
		}
	}
}/*container*/

.mainContainer{
	margin-top: 50px;
}