.container{
	border-radius: 15px;
	header{
		.make-row();
		padding-bottom: 50px;
	}

	.innledende{
		.make-row();
		.make-md-column(4);
	}
	.skjema{
		.make-row();
		.make-md-column(4);
		margin-top: 20px;
	}
	.avsluttendeSeksjon{
		.make-row();
		.make-md-column(4);
	}
}/*container*/