@Crete-Round: 'Crete Round', serif;

@bgColor: #BBB;
@bgColorSection: #FFF;

@lightBlue: #27acbc;
@logoBlue: #0092a3;
@darkBlue: #00738f;

body{
	font-family: @Crete-Round;
	background-color: @bgColor !important;
	margin: 30px auto;
}
section{
	background-color: @bgColorSection;
}

p{

}
a{

}
h1{
}
h2{
	color:@logoBlue
}
h3{

}
h4{

}
h5{

}

form{
	.validation-error{
		color: @lightBlue;
	}
}