<html ng-app>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="schema.css"/>
</head>


<body ng-view>


<h1>Det kuleste skjemaet</h1>

<div class="container">
    <div class="row">
        <div class="col-ms-4">
            <h2>Innledende seksjon</h2>
            <p>Integer in luctus ipsum. Donec imperdiet sem varius magna luctus tincidunt. In sit amet lectus sed nunc convallis scelerisque vitae ac mi. Cras consectetur tellus quis tellus ultricies, sit amet semper nisi sodales. Nam molestie nulla in augue ultricies dignissim. Pellentesque eu eros mauris. Proin in mauris in erat rhoncus iaculis. Etiam tempus sit amet sem ut scelerisque. Curabitur ac ultrices dolor. Curabitur suscipit porta justo, vel dapibus ligula.
            </p>
            <p>Nullam nec lacus ut quam laoreet sodales nec non ipsum. Cras interdum vestibulum tempor. Vivamus nec ultrices tortor. In consectetur est vitae eleifend ullamcorper. Praesent in sodales dui. Ut non sagittis libero. Morbi quis urna in nisl tempus venenatis ac id erat. Praesent tempus quam erat, ac hendrerit neque facilisis eleifend. Nam blandit facilisis nibh, et malesuada ante pellentesque eu. Morbi quis sapien a leo porta cursus vitae non augue. Ut congue odio eu commodo placerat. Duis pellentesque tellus eu sapien suscipit, a consectetur quam pharetra. Nulla eleifend, nisi sit amet tempor lacinia, elit magna placerat lacus, sit amet molestie dui ipsum non mauris.
            </p>
            <p>Cras id elit vel arcu aliquam volutpat. Nullam a justo in diam lobortis rutrum at non nisl. Aenean tincidunt, eros eu ornare sollicitudin, ipsum nunc aliquet diam, et gravida nibh nulla sit amet metus. Duis id eros venenatis, egestas tortor eget, viverra nisi. Praesent hendrerit suscipit nisi, ullamcorper elementum metus placerat id. Maecenas auctor dui vel turpis faucibus, non facilisis dolor ullamcorper. Cras in vulputate dui. In non lobortis nisl, in malesuada arcu. Nullam luctus nibh nibh. Mauris elementum nisi quis turpis hendrerit varius. Donec feugiat congue orci vitae convallis. Vestibulum nec libero in est fringilla condimentum at ut dolor.
            </p>

        </div>
    </div>


    <div class="row">
        <div class="col-ms-4">

            <form>

                <div>
                    <label for="email">Din epostadresse</label>
                    <input
                            ng-model="applicant.email"
                            type="text"
                            id="email"
                            placeholder="email"
                            name="email"
                            value="email"/>
                </div>

                <div>
                    <label for="is_foreign">Er du utenlandsk statsborger?</label>
                    <input
                            ng-model="applicant.is_foreign"
                            type="checkbox"
                            id="is_foreign"
                            name="is_foreign"
                            />
                </div>

                <div>
                    <label for="ssid">Hva er ditt personnummer?</label>
                    <input
                            ng-model="applicant.ssid"
                            ng-pattern="/[0-9]{11}/"
                            type="text"
                            id="ssid"
                            name="ssid"
                            placeholder="Personnummer (11 siffre)"
                            />
                    <span class="validation-error" ng-hide="applicant.ssid">11 siffer</span>
                </div>


                <div>
                    <label for="nationality">Hva er ditt statsborgerskap (hvis ikke norsk)?</label>
                    <input
                            ng-model="applicant.nationality"
                            type="text"
                            id="nationality"
                            name="nationality"/>
                </div>


                <div>
                    <label for="propertyvalue">Hvor mye koster boligen?</label>
                    <input
                            ng-model="applicant.propertyvalue"
                            type="number"
                            id="propertyvalue"
                            name="propertyvalue"/>
                </div>


                <div>
                    <label for="amount">Hvor mye ønsker du å låne?</label>
                    <input
                            ng-model="applicant.amount"
                            type="number"
                            id="amount"
                            name="amount"/>

                </div>

                <span class="validation-error" ng-show="applicant.propertyvalue < applicant.amount">Du kan ikke låne mer enn boligen koster!</span>


            </form>


        </div>
    </div>


    <div class="row">
        <div class="col-ms-4">
            <h2>Avsluttende seksjon</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum sem non velit fermentum, sed vestibulum lacus suscipit. Maecenas dapibus ut velit sed accumsan. Ut tincidunt scelerisque mi, eu tempor erat commodo id. Aenean ultrices, turpis sed condimentum rhoncus, turpis nibh tempor dui, vitae sagittis dolor erat vel orci. Etiam molestie dignissim aliquam. Maecenas quis neque tincidunt, lobortis nibh pretium, tincidunt diam. Praesent viverra magna quis elit fermentum, nec imperdiet turpis vestibulum. Quisque et arcu sit amet magna pellentesque dictum a in lorem. Sed blandit ante vitae feugiat dapibus. Vivamus adipiscing tempus neque, eu venenatis purus dictum at. Quisque non augue adipiscing, facilisis felis a, pretium ante. Proin adipiscing ac justo eget rhoncus. Mauris sollicitudin mauris eu nibh malesuada semper. Phasellus tristique commodo pretium.
            </p>
            <p>Morbi purus tortor, porta ac orci sit amet, aliquet vestibulum quam. Curabitur eu ornare dui. Maecenas tempor congue massa, nec porta leo euismod nec. Praesent sollicitudin lectus nisl, id volutpat tortor commodo vel. Phasellus et neque a mauris cursus pharetra. Suspendisse condimentum massa a quam rhoncus mattis. Fusce adipiscing mi vel commodo tincidunt. Fusce euismod ligula mi, ut sagittis elit gravida vitae. Donec pharetra massa quis urna euismod, eu ultrices sem hendrerit. Ut molestie, leo sed auctor tempor, lacus tortor tincidunt est, at dignissim libero erat eget ipsum. Nam venenatis ultrices tristique. Etiam fringilla nibh eget mauris blandit, et sagittis diam venenatis. Curabitur porta augue nec nisi mollis euismod. Donec massa erat, porta tempus ipsum at, porta tempus augue.
            </p>
            <p>Integer in luctus ipsum. Donec imperdiet sem varius magna luctus tincidunt. In sit amet lectus sed nunc convallis scelerisque vitae ac mi. Cras consectetur tellus quis tellus ultricies, sit amet semper nisi sodales. Nam molestie nulla in augue ultricies dignissim. Pellentesque eu eros mauris. Proin in mauris in erat rhoncus iaculis. Etiam tempus sit amet sem ut scelerisque. Curabitur ac ultrices dolor. Curabitur suscipit porta justo, vel dapibus ligula.
            </p>
            <p>Nullam nec lacus ut quam laoreet sodales nec non ipsum. Cras interdum vestibulum tempor. Vivamus nec ultrices tortor. In consectetur est vitae eleifend ullamcorper. Praesent in sodales dui. Ut non sagittis libero. Morbi quis urna in nisl tempus venenatis ac id erat. Praesent tempus quam erat, ac hendrerit neque facilisis eleifend. Nam blandit facilisis nibh, et malesuada ante pellentesque eu. Morbi quis sapien a leo porta cursus vitae non augue. Ut congue odio eu commodo placerat. Duis pellentesque tellus eu sapien suscipit, a consectetur quam pharetra. Nulla eleifend, nisi sit amet tempor lacinia, elit magna placerat lacus, sit amet molestie dui ipsum non mauris.
            </p>
            <p>Cras id elit vel arcu aliquam volutpat. Nullam a justo in diam lobortis rutrum at non nisl. Aenean tincidunt, eros eu ornare sollicitudin, ipsum nunc aliquet diam, et gravida nibh nulla sit amet metus. Duis id eros venenatis, egestas tortor eget, viverra nisi. Praesent hendrerit suscipit nisi, ullamcorper elementum metus placerat id. Maecenas auctor dui vel turpis faucibus, non facilisis dolor ullamcorper. Cras in vulputate dui. In non lobortis nisl, in malesuada arcu. Nullam luctus nibh nibh. Mauris elementum nisi quis turpis hendrerit varius. Donec feugiat congue orci vitae convallis. Vestibulum nec libero in est fringilla condimentum at ut dolor.
            </p>

        </div>
    </div>


</div>





<div class="debug">

    <h1>Schema values: </h1>

    <ul>
        <li ng-repeat="(key, value) in applicant">
            {{key}}: {{value}}
        </li>
    </ul>


</div>


</body>

</html>